.btn {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 20px;
}

.button-primary {
  display: inline-block;

  background: $color-primary;
  font-size: 11px;
  text-decoration: none;
  padding: 10px 30px;
  margin-top: 20px;
}

.button-secondary {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  width: 120px;
  height: 40px;
  background-color: #373737;

  &.active,
  &:hover {
    background-color: $color-primary;
  }
}
