*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-bg-default: #B28756;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

ul li{
  list-style: none;
}

/* === === HEADER === ===*/

header{
  height: 100px;
  background: #000;
}

.header{
  display: flex;
  align-items: center;

  width: 90%;
  max-width: 1140px;
  height: 100px;
  margin: 0 auto;
}

.logo{
  width: 100px;
}

.logo .logoimg{
  width: 80px;
  height: 80px;
  background: var(--color-bg-default);
}

.menu{
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.menu ul{
  display: flex;
}

.menu li a{
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  padding: 0 10px;

  display: flex; /*inserindo display flex, ou block, podemos inserir uma altura na tag <a>*/
  align-items: center; /*centrelizando os itens ao meio, pois iremos da uma altura para a tag <a>*/

  height: 100px;
  border-bottom: 5px solid #000;
}

.menu .active a{
  border-bottom: 5px solid var(--color-bg-default);
  color: var(--color-bg-default);
}

.menu li a:hover{
  border-bottom: 5px solid var(--color-bg-default);
  color: var(--color-bg-default);
}
/* === === END HEADER === ===*/






/* === === SECTION BANNER === ===*/
section.banner{
  height: calc(100vh - 100px);
  background: #333;
  background-image: url('/assets/images/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.banner .sliders{
  width: 1000vw;
  height: 100%;
}

.banner .slide{
  width: 100vw;
  height: 100%;
  display: inline-block;
  background: rgba(0,0,0,0.8);
}

.banner .slide-area{
  height: 100%;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner .slide-area h1{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
}

.banner .slide-area span{
  color: #B28756;
}

.banner .slide-area h2{
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
}

.banner .slide-area a{
  display: block;
  background: #B28756;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 20px;
  margin-top: 40px;
}

.banner .sliders-pointers{
  width: 100vw;
  height: 20px;
  position: absolute;
  margin-top: -50px;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .sliders-pointers .pointer{
  width: 15px;
  height: 15px;
  margin: 0 5px;
  border: 2px solid #B28756;
  border-radius: 50%;
  cursor: pointer;
}

.pointer.active{
  background: #B28756;
}
/* === === END SECTION BANNER === ===*/



/* === === SECTIONS DEFAULT LIGHT/DARK === ===*/
.default.light{
  background: #F7F7F7F7;
}

.default.light .section-title,
.default.light .section-body{
  color: #000;
}

.default.dark{
  background: #000;
}

.default.dark .section-title,
.default.dark .section-body{
  color: #fff;
}
/* === === END SECTIONS DEFAULT LIGHT/DARK === ===*/



/* === === SECTIONS DEFAULT - ABOUT === ===*/
section.default{
  padding: 50px 0;
}

.default .section-title,
.default .section-desc{
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.default .section-title{
  font-size: 20px;
}

.default .section-desc{
  font-size: 13px;
  color: #ccc;
  margin-top: 10px;
  margin-bottom: 40px;
}

.default .section-body{
  max-width: 1140px;
  margin: 0 auto;
}

.section-aboutus{
  display: flex;
}

.section-aboutus--left{
  flex: 1;
}

.section-aboutus--left .button{
  display: inline-block;
  background: #B28756;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 20px;
  margin-top: 40px;
}

.section-aboutus--left p{
  font-size: 15px;
  line-height: 25px;
}

.section-aboutus--right{
  width: 500px;
  text-align: center;
}

.section-aboutus--right iframe{
  width: 90%;
  box-shadow: 0px 0px 10px #333;
}
/* === === END SECTIONS DEFAULT - ABOUT === ===*/