*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-bg-default: #B28756;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}

a{
  text-decoration: none;
}

ul li{
  list-style: none;
}

/* === === HEADER === ===*/

header{
  height: 100px;
  background: #000;
}

.header{
  display: flex;
  align-items: center;

  width: 90%;
  max-width: 1140px;
  height: 100px;
  margin: 0 auto;
}

.logo{
  width: 100px;
}

.logo .logoimg{
  width: 80px;
  height: 80px;
  background: var(--color-bg-default);
}

.menu{
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.menu ul{
  display: flex;
}

.menu li a{
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  padding: 0 10px;

  display: flex; /*inserindo display flex, ou block, podemos inserir uma altura na tag <a>*/
  align-items: center; /*centrelizando os itens ao meio, pois iremos da uma altura para a tag <a>*/

  height: 100px;
  border-bottom: 5px solid #000;
}

.menu .active a{
  border-bottom: 5px solid var(--color-bg-default);
  color: var(--color-bg-default);
}

.menu li a:hover{
  border-bottom: 5px solid var(--color-bg-default);
  color: var(--color-bg-default);
}
/* === === END HEADER === ===*/






/* === === SECTION BANNER === ===*/
section.banner{
  height: calc(100vh - 100px);
  background: #333;
  background-image: url('/assets/images/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.banner .sliders{
  width: 1000vw;
  height: 100%;
}

.banner .slide{
  width: 100vw;
  height: 100%;
  display: inline-block;
  background: rgba(0,0,0,0.8);
}

.banner .slide-area{
  height: 100%;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner .slide-area h1{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
}

.banner .slide-area span{
  color: #B28756;
}

.banner .slide-area h2{
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
}

.banner .slide-area a{
  display: block;
  background: #B28756;
  color: #fff;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 20px;
  margin-top: 40px;
}

/* === === END SECTION BANNER === ===*/