/* === === SECTION PATROCINIO === === */
.patrocinio__list {
  display: flex;
  align-items: center;

  &-item{
    flex: 1;
    
    img {
      margin: 0 auto;
    }
  }
}

.tns-controls,
.tns-nav,
button[data-action] {
  display: none;
}

/* === === END SECTION PATROCINIO === === */
