/* === === SECTION REDES SOCIAIS === === */
.section-redes-sociais {
  padding: 20px;
}

.redes-sociais {
  display: flex;
  justify-content: center;
  align-items: center;

  &__item,
  &__list,
  &__list-item {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 60px;

    p {
      text-transform: uppercase;
      font-weight: bold;
      color: #999;
    }
  }

  &__img {
    margin-right: 10px;
  }

  &__list-item {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }

    i {
      font-size: 30px;
      margin-right: 8px;
    }

    p {
      font-weight: bold;
      color: #999;
    }
  }
}

.fa-twitter-square {
  color: #2aa9e0;
}
.fa-linkedin {
  color: #0976b1;
}
.fa-facebook-square {
  color: #3b5998;
}
.fa-google-plus-square {
  color: #de564a;
}
.fa-pinterest-square {
  color: #c5313b;
}


/* === === END SECTION REDES SOCIAIS === === */
