/* === === SECTION SERVICES === === */
.services {
  display: flex;

  &__item {
    flex: 1;
    text-align: center;
    border-left: 1px solid #333;
    padding: 15px;

    &:last-child {
      border-right: 1px solid #333;
    }

    p {
      margin-top: 10px;
      font-size: 13px;
      color: #999;
    }
  }

  &__img {
    margin: 0 auto;
  }

  &__title {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
  }
}
/* === === END SECTION SERVICES === === */
