.footer {
  background: #000;
  color: #7e7e7e;
}

.footer-container {
  display: flex;
  padding: 30px 10px;

  &__redes-sociais-item,
  &__desc,
  &__subscribe {
    width: 365px;
  }

  &__redes-sociais-item {
    display: flex;
  }

  &__redes-sociais-icon {
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    background: $rodape-color-primary;
    margin-right: 8px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    img {
      margin: 0 auto;
    }

    .mgTop--icon1 {
      margin-top: 4px;
    }

    .mgTop--icon2 {
      margin-top: 2px;
    }

    &:focus,
    &:hover {
      background: $color-primary;
    }
  }

  &__desc {
    text-align: justify;
    padding-right: 30px;
  }

  &__subscribe {
    background: #373737;
    align-self: center;
    padding: 35px 0;

    form {
      display: flex;
      flex-direction: column;

      width: 221px;
      margin: 0 auto;

      input {
        background: transparent;
        border: none;
        border-bottom: 2px solid #aeaeae;
        padding-bottom: 10px;
        margin-bottom: 25px;
        color: #aeaeae;
      }

      a {
        margin: 0 auto;
      }
    }
  }

  &__form-input::placeholder {
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    color: #aeaeae;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    &-container {
      width: 90%;
      flex-direction: column;

      &__redes-sociais-item,
      &__desc,
      &__subscribe {
        width: 100%;
      }

      &__redes-sociais-item { order: 2 }
      &__desc { order: 3 }
      &__subscribe { order: 1 }

      &__redes-sociais-item {
        justify-content: center;
        margin: 30px 0;
      }

      &__desc {
        padding: 0;
      }
    }
  }
}
