/* === === HEADER === ===*/
header {
  height: 100px;
  background: #000;
}

.header {
  display: flex;
  align-items: center;

  width: 90%;
  max-width: 1140px;
  height: 100px;
  margin: 0 auto;

  &__logo {
    width: 100px;
  }

  &__logoimg {
    width: 80px;
    height: 80px;
    background: $color-primary;
  }

  &__menu {
    display: flex;
    justify-content: flex-end;
    flex: 1;

    &-list {
      display: flex;
    }

    &-link {
      text-transform: uppercase;
      font-weight: 600;
      color: #fff;
      padding: 0 10px;

      display: flex; /*inserindo display flex, ou block, podemos inserir uma altura na tag <a>*/
      align-items: center; /*centrelizando os itens ao meio, pois iremos da uma altura para a tag <a>*/

      height: 100px;
      border-bottom: 5px solid #000;

      &:hover {
        border-bottom: 5px solid $color-primary;
        color: $color-primary;
      }
    }

    &-item.active .header__menu-link {
      border-bottom: 5px solid $color-primary;
      color: $color-primary;
    }
  }
}
/* === === END HEADER === ===*/
