/* === === HEADER === ===*/
header {
  height: 100px;
  background: #000;
}

.header {
  display: flex;
  align-items: center;

  width: 90%;
  max-width: 1140px;
  height: 100px;
  margin: 0 auto;

  &__logo {
    width: 100px;
  }

  &__logoimg {
    width: 80px;
    height: 80px;
    background: $color-primary;
  }

  &__menu {
    display: flex;
    justify-content: flex-end;
    flex: 1;

    &-opener {
      display: none;
    }

    &-list {
      display: flex;
    }

    &-link {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: 600;
      color: #fff;
      padding: 0 10px;

      display: flex; /*inserindo display flex, ou block, podemos inserir uma altura na tag <a>*/
      align-items: center; /*centrelizando os itens ao meio, pois iremos da uma altura para a tag <a>*/

      height: 100px;
      border-bottom: 5px solid #000;

      &:hover {
        border-bottom: 5px solid $color-primary;
        color: $color-primary;
      }
    }

    &-item.active .header__menu-link {
      border-bottom: 5px solid $color-primary;
      color: $color-primary;
    }
  }
}

@media screen and (max-width: 1023px){
  .header {

    nav {
      display: none;
      justify-content: start;
      position: absolute;
      z-index: 999;
      background-color: rgba(0, 0, 0, 0.9);
      width: 70vw;
      height: calc(100vh - 100px);
      top: 100px;
      right: 0;
    }

    &__menu {

      &-opener {
        display: block;
        font-size: 40px;
        color: $color-primary;
        cursor: pointer;
      }

      &-list {
        flex-direction: column;
      }

      &-link {
        height: 80px;
        font-size: 27px;
        margin-left: 30px;
        border: 0;

        &:hover {
          border: none;
          color: $color-primary;
        }
      }

      &-item.active .header__menu-link {
        border: 0;
      }
    }
  }
}


/* === === END HEADER === ===*/
