/* === === SECTION BANNER === ===*/
.banner {
  height: calc(100vh - 100px);
  background: #333;
  background-image: url("../image/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  &__controls {
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__control {
    i {
      color: #fff;
      font-size: 50px;
      cursor: pointer;
    }
  }
  
  &__sliders {
    display: flex;
    height: 100%;
    transition: all ease 1s; 
  }

  &__slide {
    width: 100vw;
    height: inherit;
    background: rgba(0, 0, 0, 0.8); 

    &-area {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      height: 100%;
      color: #fff;
    }

    &-title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 3em;

      span {
        color: $color-primary;
      }
    }

    &-subtitle{
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 1023px) {
  .banner {
    &__control {
      i {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .banner {
    &__slide {
      &-title {
        font-size: 2em;
      }
    }
  }
}
/* === === END SECTION BANNER === ===*/
