/* === === SECTION BANNER === ===*/
.banner {
  height: calc(100vh - 100px);
  background: #333;
  background-image: url("/src/image/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  &__sliders {
    width: 1000vw;
    height: 100%;
  }

  &__slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background: rgba(0, 0, 0, 0.8); 

    &-area {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      height: 100%;
      color: #fff;
    }

    &-title {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 3em;

      span {
        color: $color-primary;
      }
    }

    &-subtitle{
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 576px) {
  .banner {
    &__slide {
      &-title {
        font-size: 2em;
      }
    }
  }
}
/* === === END SECTION BANNER === ===*/
