/* === === SECTION PROJECTS === === */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__filters {
    border: 1px solid #ccc;
    background: #eee;
    border-radius: 30px;
    padding: 0 20px; 
  }

  &__list {
    display: flex;

    &-item {
      padding: 10px;
      text-transform: uppercase;
      font-size: 13px;
      border-right: 1px solid #ccc;
      color: #555;
      border-bottom: 3px solid #eee;
      cursor: pointer;

      &:last-child {
        border-right: 0;
      }

      &:hover,
      &:focus,
      &.active {
        border-bottom: 3px solid $color-primary;
      }
    }
  }

  &__photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__photo {
    width: 280px;
  }

  &__photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;

    img {
      width: inherit;
      height: inherit;
    }

    &:hover .projects__photoinfo {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }

  &__photoinfo {
    display: none;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    color: #ffffff;
    cursor: pointer;

    h5 {
      font-size: 21px;
      font-weight: 600;
    }
  }
}
/* === === END SECTION PROJECTS === === */
