/* === === SECTION PREMIUM === === */
.premium {
  
  margin-bottom: 50px;
  border-bottom: 2px solid #ededed;
  padding-bottom: 30px;

  &__img {
    max-width: 445px;
    padding-left: 70px;
  }

  &__features {
    flex: 1;
    max-width: 540px;
    padding-top: 30px;
  }

  &__desc {
    margin-left: 125px;

    p {
      margin-bottom: 10px;
    }

    .margin {
      margin-bottom: 30px;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative;

    &::before {
      content: "";
      display: block;
      background-image: url("../image/check.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 28px;
      height: 25px;
      position: absolute;
      left: -60px;
    }
  }

  &__list {
    margin-bottom: 30px;

    li {
      padding: 2px;
    }

    li::before {
      content: "→";
    }
  }
}

@media screen and (max-width: 1023px) {
  .premium {
    &__img,
    &__features {
      margin: auto;
    }
  }
}

@media screen and (min-width: 1024px) {
  .premium {
    display: flex;
  }
}

@media screen and (max-width: 426px) {
  .premium {
    &__img {
      padding-left: 30px;
    }

    &__desc {
      margin-left: 85px;
    }
  }
}

/* === === END SECTION PREMIUM === === */
